src/flows/Hydro_Raindrop_Unlink-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Unregister_User</name>
        <label>Unregister User</label>
        <locationX>365</locationX>
        <locationY>63</locationY>
        <apexClass>HydroRaindropPlugin</apexClass>
        <connector>
            <targetReference>Unregistered</targetReference>
        </connector>
        <inputParameters>
            <name>access_token_IN</name>
            <value>
                <elementReference>access_token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>application_id</name>
            <value>
                <elementReference>application_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>client_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>client_secret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>code</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>environment</name>
            <value>
                <elementReference>environment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hydroID</name>
            <value>
                <elementReference>HydroID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>step</name>
            <value>
                <stringValue>unregister</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>access_token</assignToReference>
            <name>access_token_OUT</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isUnregistered</assignToReference>
            <name>IsValid</name>
        </outputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Unregistered</name>
        <label>Unregistered</label>
        <locationX>514</locationX>
        <locationY>64</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Unregistered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUnregistered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_HydroID</targetReference>
            </connector>
            <label>Was Unregistered</label>
        </rules>
    </decisions>
    <interviewLabel>Hydro_Raindrop_Unlink {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hydro_Raindrop_Unlink</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HydroRaindropObject</name>
        <label>HydroRaindropObject</label>
        <locationX>204</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unregister_User</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>hydro_config</stringValue>
            </value>
        </filters>
        <object>HydroRaindropCM__mdt</object>
        <outputAssignments>
            <assignToReference>application_id</assignToReference>
            <field>application_id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>client_id</assignToReference>
            <field>client_id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>client_secret</assignToReference>
            <field>client_secret__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>environment</assignToReference>
            <field>environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserObject</name>
        <label>UserObject</label>
        <locationX>46</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HydroRaindropObject</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>HydroID</assignToReference>
            <field>HydroID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Clear_HydroID</name>
        <label>Clear HydroID</label>
        <locationX>516</locationX>
        <locationY>168</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HydroID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>UserObject</startElementReference>
    <variables>
        <name>access_token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>application_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>client_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>client_secret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>environment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HydroID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isUnregistered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>userID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
