src/flows/Hydro_Raindrop-61.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Generate_Code</name>
        <label>Generate Code</label>
        <locationX>208</locationX>
        <locationY>221</locationY>
        <apexClass>CodeGenerator</apexClass>
        <connector>
            <targetReference>AlreadyRegistered</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>code</assignToReference>
            <name>code</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Generate_Code_2</name>
        <label>Generate Code 2</label>
        <locationX>631</locationX>
        <locationY>379</locationY>
        <apexClass>CodeGenerator</apexClass>
        <connector>
            <targetReference>New_User_Verify</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>code</assignToReference>
            <name>code</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Register_User</name>
        <label>Register User</label>
        <locationX>711</locationX>
        <locationY>95</locationY>
        <apexClass>HydroRaindropPlugin</apexClass>
        <connector>
            <targetReference>Registered</targetReference>
        </connector>
        <inputParameters>
            <name>access_token_IN</name>
            <value>
                <elementReference>access_token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>application_id</name>
            <value>
                <elementReference>application_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>client_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>client_secret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>code</name>
            <value>
                <elementReference>code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>environment</name>
            <value>
                <elementReference>environment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hydroID</name>
            <value>
                <elementReference>HydroID_reg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>step</name>
            <value>
                <elementReference>step_register</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isRegistered</assignToReference>
            <name>IsValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>access_token</assignToReference>
            <name>access_token_OUT</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Verify</name>
        <label>Verify</label>
        <locationX>354</locationX>
        <locationY>324</locationY>
        <apexClass>HydroRaindropPlugin</apexClass>
        <connector>
            <targetReference>Verified</targetReference>
        </connector>
        <inputParameters>
            <name>access_token_IN</name>
            <value>
                <elementReference>access_token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>application_id</name>
            <value>
                <elementReference>application_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>client_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>client_secret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>code</name>
            <value>
                <elementReference>code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>environment</name>
            <value>
                <elementReference>environment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hydroID</name>
            <value>
                <elementReference>HydroID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>step</name>
            <value>
                <elementReference>step_verify</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isAuthenticated</assignToReference>
            <name>IsValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>access_token</assignToReference>
            <name>access_token_OUT</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Verify_New_User</name>
        <label>Verify New User</label>
        <locationX>778</locationX>
        <locationY>473</locationY>
        <apexClass>HydroRaindropPlugin</apexClass>
        <connector>
            <targetReference>New_User_Verified</targetReference>
        </connector>
        <inputParameters>
            <name>access_token_IN</name>
            <value>
                <elementReference>access_token</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>application_id</name>
            <value>
                <elementReference>application_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_id</name>
            <value>
                <elementReference>client_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>client_secret</name>
            <value>
                <elementReference>client_secret</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>code</name>
            <value>
                <elementReference>code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>environment</name>
            <value>
                <elementReference>environment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>hydroID</name>
            <value>
                <elementReference>HydroID_reg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>step</name>
            <value>
                <elementReference>step_verifyNew</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>isAuthenticated</assignToReference>
            <name>IsValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>access_token</assignToReference>
            <name>access_token_OUT</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>new_verify_error</name>
        <label>new verify error</label>
        <locationX>636</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authentication failure.  Please try again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Code_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>register_error</name>
        <label>register error</label>
        <locationX>503</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authentication setup failed.  Please try again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>reset_error</name>
        <label>reset error</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Code_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>verify_error</name>
        <label>verify error</label>
        <locationX>210</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authentication failure.  Please try again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Code</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>apple_store</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/1537677017000/hydro__AppleStore&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>google_play</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/1537677030000/hydro__GooglePlay&apos; /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>step_register</name>
        <dataType>String</dataType>
        <value>
            <stringValue>register</stringValue>
        </value>
    </constants>
    <constants>
        <name>step_verify</name>
        <dataType>String</dataType>
        <value>
            <stringValue>verify</stringValue>
        </value>
    </constants>
    <constants>
        <name>step_verifyNew</name>
        <dataType>String</dataType>
        <value>
            <stringValue>verifyNew</stringValue>
        </value>
    </constants>
    <decisions>
        <name>New_User_Verified</name>
        <label>New User Verified</label>
        <locationX>710</locationX>
        <locationY>573</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Not_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAuthenticated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>new_verify_error</targetReference>
            </connector>
            <label>Not Verified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registered</name>
        <label>Registered</label>
        <locationX>713</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>reset_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Registered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRegistered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>register_error</targetReference>
            </connector>
            <label>Not Registered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Registration</name>
        <label>Registration</label>
        <locationX>326</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>Generate_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Register</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>HydroID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HydroID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Screen</targetReference>
            </connector>
            <label>Register</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verified</name>
        <label>Verified</label>
        <locationX>281</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAuthenticated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>verify_error</targetReference>
            </connector>
            <label>Not Verified</label>
        </rules>
    </decisions>
    <interviewLabel>Hydro_Raindrop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hydro_Raindrop</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>HydroRaindropObject</name>
        <label>HydroRaindropObject</label>
        <locationX>178</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Registration</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>hydro_config</stringValue>
            </value>
        </filters>
        <object>HydroRaindropCM__mdt</object>
        <outputAssignments>
            <assignToReference>application_id</assignToReference>
            <field>application_id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>client_id</assignToReference>
            <field>client_id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>client_secret</assignToReference>
            <field>client_secret__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>environment</assignToReference>
            <field>environment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>UserObject</name>
        <label>UserObject</label>
        <locationX>31</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HydroRaindropObject</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>HydroID</assignToReference>
            <field>HydroID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AlreadyRegistered</name>
        <label>AlreadyRegistered</label>
        <locationX>353</locationX>
        <locationY>222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify</targetReference>
        </connector>
        <fields>
            <name>display_code</name>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!errorMsg}&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Two Factor Authentication&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the following code into the Hydro mobile app and then click next.&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#006CD5&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!code}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:20px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>New_User_Verify</name>
        <label>New User Verify</label>
        <locationX>774</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_New_User</targetReference>
        </connector>
        <fields>
            <name>new_user_code</name>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!errorMsg}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Two Factor Authentication&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Enter the following code into the Hydro mobile app and then click next.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:22px&quot; COLOR=&quot;#006CD5&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!code}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:20px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Registration_Screen</name>
        <label>Registration_Screen</label>
        <locationX>504</locationX>
        <locationY>95</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Register_User</targetReference>
        </connector>
        <fields>
            <name>Registration_Output</name>
            <fieldText>&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!errorMsg}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;T&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:16px&quot;&gt;&lt;B&gt;wo Factor Authentication Setup&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:14px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;To enable Hydro 2FA, enter your HydroID from the Hydro mobile app, then click next.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HydroID_reg</name>
            <dataType>String</dataType>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;HydroID&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>App_downloads</name>
            <fieldText>&lt;div style=&quot;display: table;height: 70px;&quot;&gt;
    &lt;div style=&quot;display: table-cell;vertical-align: middle;padding-left:10px;&quot;&gt;&lt;a href=&quot;https://itunes.apple.com/app/id1406519814&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://www.hydrogenplatform.com/images/buttons/btn-appstore-black.png&quot; height=&quot;40&quot; width=&quot;120&quot; /&gt;&lt;/a&gt; &lt;/div&gt;
    &lt;div style=&quot;display: table-cell;vertical-align: middle;padding-left:10px;&quot;&gt;&lt;a href=&quot;https://play.google.com/store/apps/details?id=com.hydrogenplatform.hydro&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;https://www.hydrogenplatform.com/images/buttons/btn-google-play-black.png&quot; height=&quot;60&quot; width=&quot;155&quot; /&gt;&lt;/a&gt;&lt;/div&gt;
&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>UserObject</startElementReference>
    <variables>
        <name>access_token</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>application_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>client_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>client_secret</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>environment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>HydroID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isAuthenticated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isRegistered</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
